*{
	font-family: system-ui;
}

#install-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #007bff;
	color: #ffffff;
	text-align: center;
    padding-bottom: 20px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#install-button, #close-button {
	background-color: #ffffff;
	color: #007bff;
	border: none;
	padding: 5px 10px;
	margin: 0 5px;
	cursor: pointer;
}
